
# build outputs
AppDir/
dist/
build/
*.AppImage
*.exe
*.msi
*.zip

# python cache
__pycache__/
*.pyc

# venv
.venv/
venv/

# Build artifacts
/AppDir/
/dist/
/build/
**/__pycache__/
*.pyc


# DB real (com dados)
/equipamentos.db

printf "\n# DB real (com dados)\n/equipamentos.db\n" >> .gitignore
